<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en ru">

<head>
    <div th:replace="fragments/header :: head"/>
    <title>Create user</title>


</head>

<body>

    <div class="container-fluid" th:fragment="user_form">
        <div class="row justify-content-md-center">
            <div class="col-md-3 m-3" th:switch="${modified_user}">
                <form th:method="POST" th:action="@{/admin/users}" th:object="${modified_user}">
                    <div class="form-group">
                        <div class="form-group text-center font-weight-bold">
                            <label for="inputName">First name</label>
                            <input id="inputName" class="form-control" name="name" type="text" th:field="*{name}">
                        </div>

                        <div class="form-group text-center font-weight-bold">
                            <label for="inputLastName">Last name</label>
                            <input id="inputLastName" class="form-control" name="lastName" type="text" th:field="*{lastName}">
                        </div>

                        <div class="form-group text-center font-weight-bold">
                            <label for="inputAge">Age</label>
                            <input id="inputAge" class="form-control" name="age" type="number" th:field="*{age}">

                        </div>

                        <div class="form-group text-center font-weight-bold">
                            <label for="inputEmail">Email</label>
                            <input id="inputEmail" class="form-control" name="email" type="email" th:field="*{email}">

                        </div>

                        <div class="form-group text-center font-weight-bold">
                            <label for="inputPassword">Password</label>
                            <input id="inputPassword" class="form-control" name="password" type="password" th:field="*{pass}">

                        </div>

                        <div class="form-group text-center font-weight-bold">
                            <label for="inputRoles">Roles</label>
                            <select id="inputRoles" class="form-control" th:field="*{roles}" multiple size="2">
                                <option th:each="role : ${allRoles}" th:text="${role.getName()}" th:value="${role.getId()}"></option>
                            </select>
                        </div>


                        <input class="btn btn-success form-control" type="submit" value="Add new user">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html> 