<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <div th:replace="fragments/header :: head" />
    <title></title>
</head>

<body>
    <div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-3 m-3">
                    <h1>Please sign in</h1>
                    <form method="post" action="/login">
                        <div class="form-group">
                            <input class="form-control" placeholder="Email Address" name="j_username" type="email">
                            <input class="form-control" placeholder="Password" name="j_password" type="password">
                            <input class="btn btn-primary form-control mt-2 " value="Sign in" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>