<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en ru">
<head>
    <div th:replace="fragments/header :: head"/>
    <title>User</title>
    <style>

    </style>
</head>
<body>
<h1>User</h1>
<div th:fragment="user_info">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            <th:block>
                <tr>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td>
                        <p th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></p>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

</div>


<a th:href="@{/logout}">logout</a>

<a th:href="@{/admin/}">back to list users</a>

</body>
</html>