<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en ru">

<head>
    <div th:replace="fragments/header :: head"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title>Users</title>

</head>

<body>

    <nav class="navbar navbar-dark bg-dark sticky-top">
        <div class="navbar-header ">

            <span class="text-white font-weight-bold" sec:authentication="name"></span>
            <span class="text-white">with roles:</span>
            <span class="text-white text-uppercase" sec:authorize="hasRole('ADMIN')">ADMIN</span>
            <span class="text-white text-uppercase" sec:authorize="hasRole('USER')">USER</span>
        </div>

        <div class="nav navbar">
            <a class="navbar-text logout" th:href="@{/logout}"><small>Logout</small></a>
        </div>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <div class="col-2 mt-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a sec:authorize="hasRole('ADMIN')" class="nav-link active"
                       data-toggle="pill" href="#admin" role="tab" aria-selected="true">Admin</a>
                    <a id="nav_user" class="nav-link" th:attr="data-toggle='pill', data-roles=${#authentication.authorities}"
                       href="#user" role="tab" aria-selected="false">User</a>

                </div>
            </div>
            <div class="col-10 bg-light">
                <div class="tab-content mt-3">
                    <div sec:authorize="hasRole('ADMIN')" class="tab-pane fade show active" id="admin" role="tabpanel">
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#users_table" data-toggle="tab" role="tab">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#new_user" data-toggle="tab" role="tab">New user</a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="users_table" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>All users</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">

                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Roles</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                <th:block th:each="userItem : ${users}">
                                                    <tr>
                                                        <td><a th:href="@{/admin/{id}(id = ${userItem.getId()})}" th:text="${userItem.getId()}"></a></td>
                                                        <td th:text="${userItem.getName()}"></td>
                                                        <td th:text="${userItem.getLastName()}"></td>
                                                        <td th:text="${userItem.getAge()}"></td>
                                                        <td th:text="${userItem.getEmail()}"></td>
                                                        <td>
                                                            <p th:each="role : ${userItem.getRoles()}" th:text="${role.getName()}"></p>
                                                        </td>
                                                        <td>
<!--                                                            <a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#update_user" th:href="@{/admin/{id}/edit_user(id = ${user.getId()})}">update</a>-->
                                                            <button type="button" class="btn btn-info edit_user" data-toggle="modal"  th:attr="data-target='#update' + ${userItem.getId()}, data-id=${userItem.getId()}">
                                                                Edit

                                                            </button>


                                                            <!----------------------------------update user modal form-------------------------------------------->
                                                            <div class="modal fade" th:id="'update' + ${userItem.getId()}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Modal title</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <form th:method="POST" th:action="@{/admin/users/{id}(id = ${userItem.getId()})}" th:object="${userItem}">
                                                                            <div class="modal-body">
                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'update' + 'inputId' + userItem.getId()}">Id</label>
                                                                                    <input readonly th:id="${'update' + 'inputId' + userItem.getId()}" class="form-control" name="id" type="text"  th:value="${userItem.getId()}">

                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'update' + 'inputName' + userItem.getId()}">First name</label>
                                                                                    <input th:id="${'update' + 'inputName' + userItem.getId()}" class="form-control" name="name" type="text"  th:value="${userItem.getName()}">

                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'update' + 'inputLastName' + userItem.getId()}">Last name</label>
                                                                                    <input th:id="${'update' + 'inputLastName' + userItem.getId()}" class="form-control" name="lastName" type="text" th:value="${userItem.getLastName()}">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'update' + 'inputAge' + userItem.getId()}">Age</label>
                                                                                    <input th:id="${'update' + 'inputAge' + userItem.getId()}" class="form-control" name="age" type="text" th:value="${userItem.getAge()}">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'update' + 'inputEmail' + userItem.getId()}">Email</label>
                                                                                    <input th:id="${'update' + 'inputEmail' + userItem.getId()}" class="form-control" name="email" type="email" th:value="${userItem.getEmail()}">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'update' + 'inputPassword' + userItem.getId()}">Password</label>
                                                                                    <input th:id="${'update' + 'inputPassword' + userItem.getId()}" class="form-control" name="pass" type="password">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'update' + 'inputRoles' + userItem.getId()}">Roles</label>
                                                                                    <select th:id="${'update' + 'inputRoles' + userItem.getId()}" class="form-control" name="roles" multiple size="2">
                                                                                        <option th:each="role : ${allRoles}" th:text="${role.getName()}" th:value="${role.getId()}" th:checked="${userItem.getRoles().contains(role)}"></option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                                <button type="submit" class="btn btn-primary">Edit</button>
                                                                            </div>

                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
<!--                                                            <a class="btn btn-danger" th:href="@{/admin/{id}/remove_user(id = ${user.getId()})}">delete</a>-->
                                                            <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#delete' + ${userItem.getId()}">
                                                                Delete
                                                            </button>

                                                            <!----------------------------------delete user modal form-------------------------------------------->
                                                            <div class="modal fade" th:id="'delete' + ${userItem.getId()}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Modal title</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <form th:method="GET" th:action="@{/admin/{id}/remove_user(id = ${userItem.getId()})}" th:object="${userItem}">
                                                                            <div class="modal-body">
                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'inputId' + userItem.getId()}">Id</label>
                                                                                    <input readonly th:id="${'inputId' + userItem.getId()}" class="form-control" name="id" type="text"  th:value="${userItem.getId()}">

                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'inputName' + userItem.getId()}">First name</label>
                                                                                    <input readonly th:id="${'inputName' + userItem.getId()}" class="form-control" name="name" type="text"  th:value="${userItem.getName()}">

                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'inputLastName' + userItem.getId()}">Last name</label>
                                                                                    <input readonly th:id="${'inputLastName' + userItem.getId()}" class="form-control" name="lastName" type="text" th:value="${userItem.getLastName()}">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'inputAge' + userItem.getId()}">Age</label>
                                                                                    <input readonly th:id="${'inputAge' + userItem.getId()}" class="form-control" name="age" type="text" th:value="${userItem.getAge()}">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'inputEmail' + userItem.getId()}">Email</label>
                                                                                    <input readonly th:id="${'inputEmail' + userItem.getId()}" class="form-control" name="email" type="email" th:value="${userItem.getEmail()}">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'inputPassword' + userItem.getId()}">Password</label>
                                                                                    <input readonly th:id="${'inputPassword' + userItem.getId()}" class="form-control" name="pass" type="password">
                                                                                </div>

                                                                                <div class="form-group text-center font-weight-bold">
                                                                                    <label th:for="${'inputRoles' + userItem.getId()}">Roles</label>
                                                                                    <select readonly th:id="${'inputRoles' + userItem.getId()}" class="form-control" name="roles" multiple size="2">
                                                                                        <option th:each="role : ${allRoles}" th:text="${role.getName()}" th:value="${role.getId()}"></option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                                            </div>

                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-------------------------------new user-------------------------------->
                            <div class="tab-pane fade" id="new_user" role="tabpanel">
                                <div th:insert="/add_user :: user_form">
                            </div>

                        </div>
                    </div>

                </div>
                    <div class="tab-pane fade" id="user" role="tabpanel">
                        <h1>User information-page</h1>
                        <div class="card">
                            <div class="card-header">
                                <h3>About user</h3>
                            </div>
                            <div class="card-body">
                                <div th:insert="/show_user :: user_info">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        // console.log($(".edit_user").data("id"));
        /*$(".edit_user").on( "click", function(e) {
            console.log($(this).data("id"));
        });*/
        if (!($("#nav_user").data("roles").includes('ADMIN'))) {
            $("#nav_user").addClass("active");
            $('#user').tab('show')
        }
    </script>
</body>

</html>